@font-face {
    font-family: 'Vazirmatn';
    src: url('/public//fonts/Vazir/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('/public/fonts/Vazir/Vazir-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Vazirmatn';
    background-color: red;

}

footer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: red;
    width: 100%;
    height: max-content;
  

}